/* about.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-section {
  min-height: 100vh;

}

.name {
  font-size: 5rem;
  
  color: #fff;
  margin-bottom: 3rem;
}

.about-me {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
}

/* ... Other CSS ... */

.img-fluid {
  width: 550px;
  height: 550px;
  object-fit: cover;
  animation: animate 3s ease-in-out infinite;
  transition: all 1s ease-in-out;
  position: absolute;
}

@keyframes animate {
  0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.arrow {
  position: absolute;
  bottom: 50px; 
  left: 100px; 
  width: 15rem; 
  height: auto;

}

.earlyLifeContainer {
  height: 100vh;
  padding: 0;
  margin: 0;
  /* margin-top: 45rem; */
}
.earlyLifeh1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  /* align-items: right; */
}
.transition-image {
  transition: opacity 3s ease-in-out;
  width: 550px;
  height: 550px;
}

.img-fluid:hover .transition-image {
  opacity: 0;
  width: 550px;
  height: 550px;
}
.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0;
  pointer-events: none; /* Prevents the blackout layer from interfering with clicks */
  z-index: 9999;
}
.panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
  height: 220vh;
}

