.scroll-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
  }
  
  .scroll-to-top div {
    position: relative;
  }
  
  .scroll-to-top p {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
  .scroll-to-top div:hover p {
    display: block;
  }
  