/* Home.css */


/* projectcard.css */
.projectCard {
    display: grid;
    /* background-image: url('../Projects/wire-frames/IDLock1a.png'); */
    background-size: cover;
    background-position: center center;
    color:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: justify;
    cursor: pointer;
    margin: 1.88rem;
    transform-style: preserve-3d;
    transform: perspective(62.5rem);
    width: 100%;
    max-width: 31.25rem;
    height: 18.75rem;
    padding: 1.25rem;
    position: relative;
    @media (max-width: 768px) {
        max-width: 90%; 
        margin: 0 auto; 
      }
  }
  
  
  .rgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px); 
    animation: rgb 6s linear infinite;
    border-radius: 18px; ;
  }
  
  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  .project1 {
    background-image: url('../Projects/wire-frames/IDLock1a.png');
  }
  .project2 {
    background-image: url('../Projects/wire-frames/Egoquest1.png');
  }


  /* FOOTER ANIMATION */
  .body {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #022945;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .dot {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #0e0e3a, #01020a);
    clip-path: circle(0%);
  }
  
  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
  

  
  .contact-button {
    display: inline-block;
    padding: 0.6rem 1.25rem;
    background-color: #022945; 
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #f8f8f8; /* Lighter color on hover */
    color: black;
  }
  
  .footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
/* ScrollButton.css */
.scroll-button {
  position: fixed;
  bottom: 1.25rem;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.scroll-button .arrow {
  display: inline-block;
  width: 1.88rem;
  height: 1.88rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.scroll-button:hover .arrow {
  opacity: 1;
}

.landing-title {
  font-size: 3.5rem !important;
  margin-bottom: 2rem;
  padding: .5rem;
  margin-left: 3.9rem;
}

.landing-im, .landing-hi {
  font-size: 1.5rem !important;
  margin-left: 2rem;
}

.landing-text{
  font-size: 2rem;
  text-align: left;
  margin-left: 4.5rem;
}

/* Journeyhome.css */


.landing-subtitle {
  font-size: 2.5em;
  margin-bottom: 2rem;
  margin-left: 4.5rem;
}

.scrollDown {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  padding: 0.6rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.5); 
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: auto;
}
.scrollDown:hover {
  background-color: #f8f8f8; 
  color: black; 
  border: 2px solid #4CAF50;
}


.scrollDownJourney {
  position: absolute;
  left: 50%;
  bottom: 0.1875rem;
  transform: translateX(-50%);
  padding: 0.6rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.scrollDownJourney:hover {
  background-color: #f8f8f8; 
  color: black; 
  border: 2px solid #4CAF50;
}
.starsText {
  font-size: 1.8rem;
  padding-bottom: 3rem;
  padding-top: 10rem;
}

  
  

.space-container {
  width: 50rem; /* Adjust as needed */
  height: 10rem; /* Adjust as needed */
  margin-top:0rem;
  margin-bottom: 5rem;
  position: center;
  overflow: hidden; /* This ensures the model doesn't grow outside of this container */
}
.interactive-indicator {
  position: absolute;
  top: 6rem;
  left: 6rem;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  z-index: 1000; /* Ensure it's above other elements */
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
