.testing {
  color: white;
  border-radius: .5rem;
  height:5rem;
}

.testing .navbar-brand {
  font-size: 3.125rem; /* 50px */
  font-weight: bold; 
  color:#ffffff !important;
}

.nav-links .nav-link {
  color: white !important;
  margin-right: 1rem; 
  font-size: 1.5rem;
}

.nav-links .nav-link:hover {
  color: #007bff; /* Blue text on hover */
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} 
.nav-links a:visited {
  color: white;
}

