body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 5rem;
}

.card {
  width: 25rem !important;
  height: 38rem !important;
  margin: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12rem;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.25rem;
  background-color: white;
  color: blue;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 0;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button a {
  color: inherit;
  text-decoration: none;
}
/* Adjust the scale of the slides */
.carousel-slide {
  transform: scale(0.8) !important;
}

/* Adjust the translation of the slides */
.carousel-track {
  transform: translateX(-50%) perspective(1000px) rotateY(0deg) !important;
}
/* Style the arrow buttons */
.carousel-button {
  background-color: rgba(255, 255, 255, 0.5) !important; /* Semi-transparent white background */
  border: none;
  border-radius: 50%; /* Makes the button circular */
  width: 40px; /* Width of the button */
  height: 40px; /* Height of the button */
  color: #000; /* Color of the arrow icon */
  font-size: 20px; /* Size of the arrow icon */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for the arrow buttons */
.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.8); /* More opaque white on hover */
}
