h1, .page-title {
    text-align: center;
  }
  
  .project-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    overflow: auto;
    padding-top: 3.5em;
  }
  
  .project-carousel {
    flex: .8;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 100%; /* adjust this value as needed */
    object-fit: contain;
    padding-left: 2em;
    padding-top: 6em;
    padding-right: 1em;
  }
  
  .project-info {
    flex: 1.2;
    overflow: auto;
    padding: 1em;
    margin-right: 1em;
    font-size: .8rem;
  }
  .projectTitle {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: .5em;
  }

  .control-prev.control-arrow,
  .control-next.control-arrow {
    color: black;
  }
  
  .project-carousel .thumbs {
    display: flex;
    justify-content: center;
    margin-left: 20px; /* adjust this value as needed */
  }
  .project-button {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 1.25rem;
    background-color: white;
    color: blue;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 0;
  }
  
  .project-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .project-button a {
    color: inherit;
    text-decoration: none;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem; 
    margin-bottom: 0;
  }
  .nextProjectBtn {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    padding: 5px 50px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: auto;
    min-width: 150px;
    white-space: nowrap;
  }
  .nextProjectBtn:hover {
    background-color: #f8f8f8; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
