body {
  margin: 0;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-container {
  background-color: #022945;
  min-height: 100vh; 
  color: white;
  position: relative; 
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Helvetica', sans-serif !important;
}
